body {
  background-color: lightblue;
}
div[class="site-branding-container"]{
  text-align: center;
}
h1 {
  color: rgb(60, 60, 60);
  text-align: center;
}
p {
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
.custom-select {
    margin: 0 auto;
    font-family: verdana;
    font-size: 20px;
}
input[type="submit"] {
    display: block;
    margin: 0 auto;
}
input[type="reset"] {
    display: block;
    margin: 0 auto;
}
